<h2>Profile</h2>

<%= turbo_stream_from @profile  %>

<%= turbo_frame_tag @profile do %>
  <% unless @profile.name.nil? && @profile.lastname.nil? %>
    <p>Name: <%= @profile.name %></p>
    <p>Surname: <%= @profile.lastname %></p>
  <%end%>

  <%= link_to 'Edit profile info', edit_profile_path(@profile) %>
<% end %>

<br>
<hr>
<div>
 <%= turbo_frame_tag "new_catch", src: new_catch_path(@profile) %>
</div>


<div id="catches">
  <% unless @profile.name.nil? && @profile.lastname.nil? %>
    <div id="catches">
      <%= render @profile.catches %>
    </div>
  <%end%>
</div>
