<h2>Profile</h2>

<%= turbo_frame_tag @profile do %>
  <% unless @profile.name.nil? && @profile.lastname.nil? %>
    <p>Name: <%= @profile.name %></p>
    <p>Surname: <%= @profile.lastname %></p>
  <%end%>

  <%= link_to 'Edit profile info', edit_profile_path(@profile) %>
<% end %>

<br>
<hr>
<div class="inline-profile-blocks">
  <%= simple_form_for @profile.catches.new, remote: true do |f| %>
    <%= f.input :name, required: true%>
    <%= f.input :weight, required: true, label: "Weight (kg)"%>
    <%= f.input :place%>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.button :submit%>
  <% end %>
</div>

<div class="inline-profile-blocks">
<div id="catches">
  <% unless @profile.name.nil? && @profile.lastname.nil? %>
    <table id="myTable">
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Place</th>
        <th>Date</th>
      </tr>
      <% @profile.catches.each do |catch| %>
        <tr>
          <td><%=catch.name %></td>
          <td><%=catch.weight %></td>
          <td><%=catch.place %></td>
          <td><%=catch.date %></td>
        </tr>
      <% end %>
    </table>
  <%end%>
</div>
</div>
